/* 配色関係 */

:root {
    --kiyomizu-theme: 0;
    --inari-theme: 120;
    --reizan-theme: 60;
    --main-color:180;
    --sub-color: 230;
    --main-font: 
}

.kiyomizu {
    color: hsl(var(--kiyomizu-theme), 50%, 40%);
}

.inari {
    color: hsl(var(--inari-theme), 55%, 40%);
}

.reizan {
    color: hsl(var(--reizan-theme), 55%, 35%);
}


/* フォント・書式 */

.zen {
  font-family: "Zen Old Mincho", serif;
  font-weight: 400;
  font-style: normal;
  font-weight: bolder;
}

.shippori {
  font-family: "Shippori Mincho", serif;
  font-weight: 400;
  font-style: normal;
}

.noto {
  font-family: "Noto Serif JP", serif;
  font-optical-sizing: auto;
  font-weight: 400;

  font-style: normal;
}

.syuku {
  font-family: "Yuji Syuku", serif;
  font-weight: 400;
  font-style: normal;
}

.input-wrapper::after {
    display: frex;
    justify-content: right;
    content: "年";
    font-size: 7vw;
}

input {
    width: 17vw;
    font-size: 7vw;
    text-align: right;
}

#wareki {
    font-size: 8vw;
}

#eto {
    font-size: 5vw;
    text-align: center;
}

#taishou, #shouwa, #heisei {
    font-size: 3vw;
}

.catch {
    writing-mode: vertical-lr;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.catch input {
    font-size: 5vw;
    height: 47vw;
    width: 8vw;
    text-align: center;
}

.en {
    display: inline-block;
    text-align: center;
    margin: auto;
    vertical-align: baseline;
    height: 3.4vw;
    width: 3.4vw;
    font-size: 2.4vw;
    font-weight: bolder;
}

.description {
    text-align: center;
    font-size: 2vw;
    font-weight: bold;
    color: hsl(var(--sub-color), 50%, 30%);
}

.name {
    font-size: 4vw;
    text-align: center;
}

.schedule {
    font-size: 2.4vw;
}

.info {
    font-size: 2vw;
}

.footer {
    text-align: center;
    font-size: 5vw;
    color: hsl(var(--sub-color), 50%, 30%);
}
/* レイアウト関係 */

.title {
    display: grid;
    justify-items: center;
    align-items: baseline;
    grid-template-columns: repeat(3, 1fr);
}

.sub_title {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 5vw;
}

.body {
    display: flex;
    justify-content: space-evenly;
}

.info {
    display: flex;
    flex-direction: column;
}


.picture {
    width: 60vw;
    height: 48vw;
    display: flex;
}

.hasui {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


.infoContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}


.calinfo {
    display: flex;
    justify-content: space-evenly;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1vw 1vw;
    margin-top: 2vw;
}

.date {
    display: grid;
}


.month-name-containar {
    font-weight: bold;
    height: 4vw;
    display: flex;
    align-items: center;
}

.month-name {
    font-size: 4vw;
    font-weight: bolder;
    padding: 1vw;
}

.yotei-containar {
    height: 100%;
    font-size: 0.5em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0px 1vw;
}

.weekname {
    font-size: 2vw;
    font-weight: bolder;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
}


/* 仮のボックス */

.body .picture {
    display: flex;
    justify-content: center;
    align-items: center;
}


.body .picture .img {
    width:95%;
    height: 95%;
}

img[src=""] {
    display: block;
    position: relative;
    object-fit: contain;
    padding-bottom: 70%;
    border: 2px solid #000;
}

.qr {
    width: 7vw;
}

.data {
    width: 23vw;
    height: 23vw;
}

.calendarContainar {
    font-size: 2.2vw;
    font-weight: bolder;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
}

/* 御縁日 */

.sun {
    color: oklch(40% 50% 45);
}

.sat {
    color: oklch(40% 50% 225);
}

.d8 {
    background-color: oklch(80% 50% 180);
    border-radius: 50%;
}
.d11 {
    background-color: oklch(80% 50% 225);
    border-radius: 50%;
}

.d17 {
    background-color: oklch(80% 50% 0);
    border-radius: 50%;
}

/* 霊山寺の縁日修正分 */
.m1.d8 {
    background-color: transparent;
}

.m2.d8 {
    background-color: transparent;
}

.m2.d18 {
    background-color: oklch(80% 50% 180);
    border-radius: 50%;
}

/* パッチ */

.m4.d29 {
    color: oklch(40% 50% 45);;
}